.cookie {
	position: fixed;
	bottom: 32px;
	right: 32px;
	width: 444px;

	display: none;
	flex-direction: row;
	align-items: center;
	column-gap: 16px;
	padding: 20px 24px;

	background-color: #f7f5f2;
	border-radius: 4px;
	border: 1px solid #26292f33;

	z-index: 20;
}

.cookie__text {
	color: #26292f;
}

.cookie__btn {
	padding: 15px 24px;
	border: 1px solid #dd1600;
	border-radius: 34px;
	color: #dd1600;
}

@media (max-width: 1024px) {
	.cookie {
		right: 50%;
		transform: translateX(50%);
	}
}

@media (max-width: 640px) {
	.cookie {
		width: calc(100% - 24px);
	}
}
