.nav {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	padding: 30px 60px;
}

.nav__logo {
	width: 124px;
	height: 23px;
	z-index: 11;
}

.nav__burger {
	display: none;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	position: relative;
	border: 1px solid #26292f;
	z-index: 11;
}

.nav__burger::before,
.nav__burger::after {
	content: '';
	position: absolute;
	left: 10px;
	right: 10px;
	top: 50%;
	height: 1px;
	background-color: #26292f;
	transition: transform 0.2s ease;
	transform-origin: center;
}

.nav__burger::after {
	transform: translateY(4px);
}

.nav__burger::before {
	transform: translateY(-4px);
}

.nav__burger span {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 50%;
	height: 1px;
	background-color: #26292f;
	transition:
		transform 0.2s ease,
		opacity 0.2s ease;
}

.nav__burger.active::before {
	transform: rotate(45deg);
}

.nav__burger.active::after {
	transform: rotate(-45deg);
}

.nav__burger.active span {
	opacity: 0;
	transform: scaleX(0);
}

.nav__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 56px;
	z-index: 10;
}

.nav__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
}

.nav__link {
	color: #26292f;
	transition: all 0.1s ease-in-out;
}

.nav__link:hover {
	opacity: 0.6;
}

.nav__item--btn {
	color: #26292f;
	transition: all 0.1s ease-in-out;
}

.nav__item--btn:hover {
	opacity: 0.6;
}

.nav__item--separator {
	font-weight: 500;
	font-size: 15px;
	line-height: 130%;
	letter-spacing: 2%;
	color: #22273499;
}

@media (max-width: 1024px) {
	.nav {
		padding: 30px 36px;
	}

	.nav__list {
		column-gap: 36px;
	}
}

@media (max-width: 850px) {
	.nav__list {
		column-gap: 24px;
	}
}

@media (max-width: 640px) {
	.nav {
		padding: 14px 20px;
	}

	.nav__burger {
		display: flex;
	}

	.nav__list {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		padding: 96px 36px 32px;

		flex-direction: column;
		row-gap: 16px;

		background-color: #f7f5f2;
		transform: translateY(-100%);
		transition: transform 0.3s ease-in-out;
	}

	.nav__list::before {
		content: '';
		position: absolute;
		top: 64px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #26292f33;
	}

	.nav__list.active {
		transform: translateY(0);
	}

	.nav__item-lang {
		margin-top: 16px;
	}
}
