.not-found {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f7f5f2;

	background-image: url(../images/not-found-bg-desktop.svg);
	background-repeat: no-repeat;
	background-size: auto 80vh;
	background-position: 70% 170%;
}

.not-found__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.not-found__code {
	color: #22273499;
	margin-bottom: 8px;
}

.not-found__title {
	color: #26292f;
	margin-bottom: 32px;
}

.not-found__btn {
	color: #f7f5f2;
	padding: 16px 24px;
	border-radius: 34px;
	background-color: #dd1600;

	transition: all 0.2s ease-in-out;
}

.not-found__btn:hover {
	background-color: #970000;
}

.not-found__btn:visited {
	opacity: 0.4;
}

@media (min-width: 2000px) {
	.not-found {
		background-size: auto 90vh;
		background-position: 60% 300%;
	}
}

@media (max-width: 1024px) {
	.not-found {
		background-image: url(../images/not-found-bg-mobile.svg);
		background-size: auto 60vh;
		background-position: 60% 110%;
	}
}
