.popup {
	position: fixed;
	top: env(safe-area-inset-top, 0);
	left: env(safe-area-inset-left, 0);
	right: env(safe-area-inset-right, 0);
	bottom: env(safe-area-inset-bottom, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	overflow-y: auto;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s;
	z-index: 10;
}

.popup.is-open {
	opacity: 1;
	pointer-events: auto;
}

.popup.is-scrollable {
	align-items: flex-start;
}

.popup__overlay {
	position: fixed;
	top: env(safe-area-inset-top, 0);
	left: env(safe-area-inset-left, 0);
	right: env(safe-area-inset-right, 0);
	bottom: env(safe-area-inset-bottom, 0);
	background-color: #e2e1de;
}

.popup__content {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 48px;

	position: relative;
	z-index: 1;
	background: #f7f5f2;
	padding: 60px;
	margin: 56px;
	max-width: 1130px;
	width: 100%;

	opacity: 0;
	transition: opacity 0.2s;
}

.popup.is-open .popup__content {
	opacity: 1;
}

.popup__close {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;

	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 2;
}

.popup__logo {
	height: 40px;
}

.popup__body,
.popup__footer {
	display: grid;
	grid-template-columns: 8fr 9fr;
	gap: 80px;
	width: 100%;
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.popup__title {
	color: #26292f;
	max-width: 429px;
}

.popup__text {
	color: #22273499;
	max-width: 394px;
}

.popup__note {
	display: flex;
	flex-direction: column;
	padding: 32px;
	background-color: #eeebe7;
	height: fit-content;
}

.popup__note--mobile {
	display: none;
}

.popup__note--title {
	color: #22273499;
	margin-bottom: 32px;
}

.popup__note--text {
	color: #26292f;
	margin-bottom: 16px;
}

.popup__note--author {
	color: #26292f;
}

.popup__tags {
	display: flex;
	flex-direction: row;
	column-gap: 12px;
}

.popup__tag {
	color: #26292f;
}

.popup__separator {
	color: #22273433;
}

@media (max-width: 1024px) {
	.popup__content {
		row-gap: 44px;
		padding: 32px;
	}

	.popup__body {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	.popup__title {
		max-width: none;
	}

	.popup__text {
		max-width: none;
	}

	.popup__footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 0;
	}

	.popup__note--desktop {
		display: none;
	}

	.popup__note--mobile {
		display: flex;
		width: 100%;
	}

	.popup__tags {
		column-gap: 8px;
	}
}

@media (max-width: 768px) {
	.popup__footer {
		flex-direction: column;
		align-items: start;
		row-gap: 12px;
	}
}

@media (max-width: 640px) {
	.popup__content {
		row-gap: 24px;
		padding: 24px 20px;
		margin: 80px 32px;
	}

	.popup__close {
		top: 10px;
		right: 10px;
	}

	.popup__logo {
		height: 30px;
	}

	.popup__note {
		padding: 20px;
	}
}
