@import url('nav.css');
@import url('reset.css');
@import url('fonts.css');
@import url('footer.css');
@import url('cookie.css');

html {
	overflow-x: hidden;
}

body {
	font-family: 'Switzer', sans-serif;
	font-weight: 400;
	line-height: 140%;

	background-color: #f7f5f2;
	overflow-x: hidden;
}

.container {
	max-width: 1232px;
	margin: 0 auto;
	padding: 0 56px;
}

.accent {
	font-family: 'SangBleu Sunrise', sans-serif;
	font-size: 74px;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -3%;
}

.h1 {
	font-family: 'SangBleu Sunrise', sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: -1%;
}

.h2 {
	font-family: 'SangBleu Sunrise', sans-serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: -1%;
}

.h3 {
	font-family: 'SangBleu Sunrise', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: 0%;
}

.button {
	font-size: 15px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 1%;
}

.body-l {
	font-size: 17px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0%;
}

.body-m {
	font-size: 15px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0%;
}

.body-s {
	font-size: 13px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 1%;
}

.tags {
	font-size: 16px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 2%;
	text-transform: uppercase;
}

.caption {
	font-size: 11px;
	font-weight: 400;
	line-height: 140%;
	letter-spacing: 0%;
}

@media (max-width: 1024px) {
	.accent {
		font-size: 56px;
	}

	.h1 {
		font-size: 44px;
	}

	.h2 {
		font-size: 28px;
	}
}

@media (max-width: 640px) {
	.container {
		padding: 0 32px;
	}

	.accent {
		font-size: 40px;
	}

	.h1 {
		font-size: 36px;
	}

	.h2 {
		font-size: 24px;
	}

	.h3 {
		font-size: 20px;
	}

	.button {
		font-size: 14px;
	}

	.body-l {
		font-size: 15px;
	}

	.body-s {
		font-size: 12px;
	}

	.tags {
		font-size: 14px;
	}
}
