.toaster {
	position: fixed;
	bottom: 40px;
	right: 32px;

	display: flex;
	flex-direction: row;
	column-gap: 16px;
	padding: 20px 24px;

	border-radius: 4px;
	border: 1px solid #22273433;
	background-color: #eeebe7;

	transform: translateX(120%);
	opacity: 0;
	transition:
		transform 0.5s ease,
		opacity 0.5s ease;
	z-index: 9999;
	pointer-events: none;
}

.toaster.active {
	transform: translateX(0);
	opacity: 1;
	pointer-events: auto;
}

.toaster__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;

	background-color: #970000;
	flex-shrink: 0;
}

.toaster__text {
	color: #26292f;
	width: 218px;
	letter-spacing: 0px;
}

.toaster__close {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 20px;
	height: 20px;
	flex-shrink: 0;
}

@media (max-width: 1024px) {
	.toaster {
		right: 50%;
		transform: translateX(50%) translateY(120%);
	}

	.toaster.active {
		transform: translateX(50%) translateY(0);
	}
}

@media (max-width: 640px) {
	.toaster {
		padding: 20px;
		width: calc(100% - 64px);
	}

	.toaster__text {
		width: 100%;
	}
}
