.cases {
	padding: 120px 0;
}

.cases__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.cases__top {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.cases__title {
	color: #26292f;
}

.cases__text {
	color: #22273499;
	max-width: 424px;
}

.cases__list {
	display: flex;
	align-items: stretch;
	overflow: visible;
}

.cases__item.swiper-slide {
	height: auto;
	display: flex;
	flex-direction: column;
}

.cases__item {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	padding-bottom: 24px;
}

.cases__item--img {
	height: 210px;
	width: 100%;
	object-fit: cover;
}

.cases__item--tags {
	display: flex;
	flex-direction: row;
	column-gap: 6px;
	row-gap: 6px;
	flex-wrap: wrap;
}

.cases__item--tag {
	padding: 8px 16px;
	background-color: #eeebe7;
	border-radius: 40px;
	color: #26292f;
}

.cases__item--title {
	color: #26292f;
}

.cases__item--btn {
	margin-top: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 8px;

	color: #26292f;
	transition: all 0.2s ease-in-out;
}

.cases__item--btn svg path {
	transition: all 0.2s ease-in-out;
}

.cases__item--btn:hover svg path {
	fill: #dd1600;
}

.cases__item--btn:hover {
	color: #dd1600;
}

.cases__arrows {
	display: flex;
	flex-direction: row;
	column-gap: 15px;
}

.cases__arrow-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 50px;
	height: 50px;
	border: 1px solid #26292f;
	cursor: pointer;

	transition: opacity 0.2s ease-in-out;
}

.cases__arrow-btn_disabled {
	opacity: 0.2;
	cursor: default;
}

.cases__arrow-btn_prev img {
	transform: rotate(180deg);
}

@media (max-width: 1024px) {
	.cases {
		padding: 80px 0;
	}

	.cases__top {
		row-gap: 20px;
	}

	.cases__item {
		row-gap: 16px;
	}

	.cases__item--img {
		margin-bottom: 8px;
	}
}

@media (max-width: 640px) {
	.cases__wrapper {
		row-gap: 42px;
	}

	.cases__item--img {
		margin-bottom: 4px;
	}
}
