@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

.header {
	position: relative;
	display: flex;
	flex-direction: column;

	margin: 20px 20px 0;
	padding-bottom: 60px;
	height: 700px;

	overflow: hidden;
}

.header__bg {
	position: absolute;
	width: max(14600px, 100%);
	height: 110vh;
	z-index: 0;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}

.header__bg-blur {
	position: absolute;
	inset: 0 30% 0 0;
	z-index: 1;

	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: rgba(247, 245, 242, 0.25);

	-webkit-mask-image: linear-gradient(
		to right,
		black 0%,
		black 50%,
		transparent 100%
	);
	mask-image: linear-gradient(
		to right,
		black 0%,
		black 55%,
		rgba(0, 0, 0, 0.8) 65%,
		rgba(0, 0, 0, 0.4) 78%,
		transparent 100%
	);
}

.header__title {
	color: #26292f;
	margin-inline: 60px;
	z-index: 2;
}

.header__title_1 {
	max-width: 743px;
}

.header__title_2 {
	max-width: 850px;
}

.header__title_3 {
	max-width: 1033px;
}

.header__content {
	margin-top: auto;
	z-index: 2;
	margin-inline: 60px;
}

.header__tabs {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 8px;
	margin-bottom: 20px;
}

.header__tabs--btn {
	color: #26292f;
	padding: 12px 12px;
	border: 1px solid #26292f;
	opacity: 0.3;
	transition: all 0.2s ease-in-out;
}

.header__tabs--btn.is-active {
	opacity: 1;

	--angle: 0deg;

	border: 1px solid;
	border-image: conic-gradient(
			from var(--angle),
			rgba(38, 41, 47, 0.1) 0deg,
			rgba(38, 41, 47, 0.1) 90deg,
			rgba(38, 41, 47, 1) 360deg
		)
		1;
	animation: borderRotate 3s linear infinite forwards;
}

.header__text {
	color: #26292f;
	max-width: 383px;
	height: 63px;
	margin-bottom: 32px;
}

.header__text_1 {
	max-width: 383px;
}

.header__text_2 {
	max-width: 350px;
}

.header__text_3 {
	max-width: 350px;
}

.header__btn {
	display: flex;

	width: fit-content;
	padding: 16px 24px;
	background-color: #dd1600;
	border-radius: 34px;

	color: #f7f5f2;
	transition: all 0.2s ease-in-out;
}

.header__btn:hover {
	background-color: #970000;
}

.header__btn:visited {
	opacity: 0.4;
}

.header__title,
.header__text,
.header__btn {
	transition: opacity 0.35s ease;
}

.is-changing {
	opacity: 0;
}

@media (max-width: 1024px) {
	.header {
		padding-bottom: 36px;
		margin: 20px;
	}

	.header__bg {
		height: 80vh;
	}

	.header__bg-blur {
		inset: 20% 0 0 0;

		-webkit-mask-image: linear-gradient(
			to top,
			black 0%,
			black 50%,
			transparent 100%
		);
		mask-image: linear-gradient(
			to top,
			black 0%,
			black 55%,
			rgba(0, 0, 0, 0.8) 65%,
			rgba(0, 0, 0, 0.4) 78%,
			transparent 100%
		);
	}

	.header__title {
		margin-inline: 36px;
	}

	.header__title_1 {
		max-width: 589px;
	}

	.header__title_2 {
		max-width: 650px;
	}

	.header__title_3 {
		max-width: 728px;
	}

	.header__content {
		margin-inline: 36px;
	}
}

@media (max-width: 768px) {
	.header {
		height: 659px;
	}

	.header__title {
		margin-inline: 20px;
	}

	.header__content {
		margin-inline: 20px;
	}
}

@media (max-width: 640px) {
	.header {
		height: 603px;
		padding-bottom: 30px;
		margin: 12px;
	}

	.header__tabs {
		column-gap: 6px;
	}

	.header__tabs--btn {
		padding: 8px 10px;
	}

	.header__text {
		margin-bottom: 20px;
		height: 80px;
	}
}

@keyframes borderRotate {
	to {
		--angle: 360deg;
	}
}
