.locations {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
	padding: 120px 0;
}

.locations__top--wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.locations__title {
	color: #26292f;
}

.locations__tabs {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 8px;
}

.locations__tab {
	color: #26292f;
}

.locations__tab.active {
	color: #dd1600;
}

.locations__tab-separator {
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 4%;
	color: #0000004d;
}

.locations__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
}

.locations__item {
	display: flex;
	flex-direction: column;
	row-gap: 12px;

	padding: 24px;
	background-color: #ebe8e5;
	height: 189px;

	position: relative;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.locations__item::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #f2ceca, #dd1600);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	z-index: 2;
}

.locations__item:hover::before {
	transform: scaleX(1);
}

.locations__item--title {
	color: #26292f;
}

.locations__item--text {
	color: #26292f99;
}

.map-wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.world-map {
	width: auto;
	height: auto;
	max-width: none;
	display: block;
}

.map-dot {
	cursor: pointer;
}

.map-tooltip {
	position: absolute;
	padding: 16px;
	width: 214px;

	background-color: #f7f5f2;
	border: 1px solid #26292f33;
	z-index: 10;
	pointer-events: none;
}

.tooltip-title {
	color: #dd1600;
}

.tooltip-text {
	color: #26292f;
}

@media (max-width: 1024px) {
	.locations {
		row-gap: 56px;
		padding: 70px 0;
	}

	.locations__top--wrapper {
		flex-direction: column;
		align-items: start;
		gap: 24px;
	}

	.locations__list {
		grid-template-columns: repeat(3, 1fr);
	}

	.locations__item {
		height: 225px;
	}
}

@media (max-width: 768px) {
	.locations__list {
		grid-template-columns: repeat(2, 1fr);
	}

	.map-wrapper {
		justify-content: start;
	}

	.world-map {
		min-width: 1000px;
	}
}

@media (max-width: 500px) {
	.locations__tabs {
		flex-direction: column;
		align-items: start;
		gap: 8px;
	}

	.locations__tab-separator {
		display: none;
	}

	.locations__list {
		grid-template-columns: repeat(1, 1fr);
	}

	.locations__item {
		height: fit-content;
		padding: 20px;
	}

	.world-map {
		min-width: 700px;
	}
}
