.about-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 80px;
	padding: 140px 0;
	background-color: #f7f5f2;
}

.about-us__text {
	text-align: center;
	max-width: 763px;
	color: #26292f;
	opacity: 0.2;

	transition: opacity 0.5s ease-in-out;
}

.marker {
	transition: background-color 0.5s ease-in-out;
}

.about-us__text.active .marker {
	background-color: #f2ceca;
}

.about-us__text.active {
	opacity: 1;
}

.about-us__text.near-active {
	opacity: 0.2;
}

.about-us__text.far-active {
	opacity: 0.1;
}

.about-us__text.furthest-active {
	opacity: 0.05;
}

@media (max-width: 1024px) {
	.about-us {
		row-gap: 56px;
		padding: 80px 0;
	}

	.about-us__text {
		max-width: 537px;
	}
}

@media (max-width: 640px) {
	.about-us {
		row-gap: 48px;
		padding: 100px 0;
	}

	.about-us__text {
		max-width: 318px;
	}
}
