.cta {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 556px;
	margin: 20px;
	background-color: #d0eaff;

	overflow: hidden;
}

.cta__bg {
	position: absolute;
	z-index: 0;
}

.cta__bg.left {
	left: -30%;
	top: 0%;
	transform: rotate(90deg);

	height: 100%;
	width: 70%;
}

.cta__bg.right {
	right: -30%;
	top: 0%;
	transform: rotate(90deg);

	height: 100%;
	width: 70%;
}

.cta__bg.mobile {
	display: none;
}

.cta__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
}

.cta__title {
	color: #26292f;
	max-width: 496px;
	text-align: center;
}

.cta__btns {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 12px;
}

.cta__btn {
	padding: 16px 24px;
	border-radius: 34px;
	z-index: 1;
}

.btn-portfolio {
	background-color: #f7f5f2;
	color: #26292f;
	transition: all 0.2s ease-in-out;
}

.btn-portfolio:hover {
	background-color: #edebe8;
}

.btn-portfolio:visited {
	opacity: 0.4;
}

.btn-contact {
	background-color: #26292f;
	color: #d0eaff;

	transition: all 0.2s ease-in-out;
}

.btn-contact:hover {
	background-color: #26292fcc;
}

.btn-contact:visited {
	opacity: 0.4;
}

@media (max-width: 1024px) {
	.cta {
		align-items: start;
		height: 589px;
	}

	.cta__bg.left {
		display: none;
	}

	.cta__bg.right {
		display: none;
	}

	.cta__bg.mobile {
		display: block;
		left: 50%;
		bottom: -10%;
		transform: translateX(-50%);

		height: 50%;
		width: 130%;
	}

	.cta__wrapper {
		margin-top: 56px;
		row-gap: 32px;
	}

	.cta__title {
		max-width: 457px;
	}
}

@media (max-width: 640px) {
	.cta {
		height: 543px;
		margin: 12px;
	}

	.cta__bg.mobile {
		bottom: -40%;
		height: 100%;
		width: 170%;
	}

	.cta__wrapper {
		margin-top: 60px;
		padding-inline: 20px;
	}

	.cta__title {
		width: 100%;
	}

	.cta__btn {
		padding: 15px 24px;
	}
}
